@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  background: #fff;
  scroll-behavior: smooth;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #242424;
  font-weight: 500;
}

ul,
li,
ul li {
  list-style: none;
}

// TODO: добавить opacity
.bg-paper {
  background-image: url("../../../public/images/effect-paper-bg.png");
}

/* Глобальные стили скроллбара */

/* Для WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 9px;
  margin: 8px;
}

/* Фон скроллбара */
::-webkit-scrollbar-track {
  background: #f1f1f1; // Светлый фон
  border-radius: 8px;
  margin: 8px; // Отступ справа
}

/* Ползунок */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; // Чуть темнее фон
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a9a9a9;
}

$scrollbar-width: 8px;
$background-color-thumb: #c1c1c1;
$background-color-thumb-hover: #a9a9a9;

/* Основные стили для кнопок */
::-webkit-scrollbar-button {
  border-style: solid;
  height: 7px;
  width: $scrollbar-width;
  margin: 5px;
  border-radius: 2px;

  &:vertical {
    /* Up */
    &:decrement {
      border-width: 0 $scrollbar-width/2 $scrollbar-width $scrollbar-width/2;
      border-color: transparent transparent $background-color-thumb-hover
        transparent;

      &:hover {
        border-color: transparent transparent $background-color-thumb
          transparent;
      }
    }

    /* Down */
    &:increment {
      border-width: $scrollbar-width $scrollbar-width/2 0 $scrollbar-width/2;
      border-color: $background-color-thumb-hover transparent transparent
        transparent;

      &:hover {
        border-color: $background-color-thumb transparent transparent
          transparent;
      }
    }
  }

  &:horizontal {
    /* Left */
    &:decrement {
      border-width: $scrollbar-width/2 $scrollbar-width $scrollbar-width/2 0;
      border-color: transparent $background-color-thumb-hover transparent
        transparent;

      &:hover {
        border-color: transparent $background-color-thumb transparent
          transparent;
      }
    }

    /* Right */
    &:increment {
      border-width: $scrollbar-width/2 0 $scrollbar-width/2 $scrollbar-width;
      border-color: transparent transparent transparent
        $background-color-thumb-hover;

      &:hover {
        border-color: transparent transparent transparent
          $background-color-thumb;
      }
    }
  }
}
